
%div
  to reset your password click the link below:
%p
  = link_to "reset link", "#{root_url}users/update_new_password/#{@user.reset_token}?#{{email: @user.email}.to_query}" 
  %br
  this link will expire in two hours.
  if you didnt requset password reset, ignore this, and your password will be unchanged
