
%div
  users#show
%br
- if logged_in?
  %div
    youre logged in as #{current_user.email}
    %br
    = link_to "logout", logout_path, method: :DELETE
- else
  youre not logged in
  %br
  = link_to "login", login_path
    