/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= requre bootstrap
 *= require bootstrap-theme
 *= require_tree .
 *= require_self
 */

/*jumbotron*/

div.jumbotron {
  background: -moz-linear-gradient(-45deg,  rgba(171,211,238,0.63) 0%, rgba(171,211,238,0.72) 23%, rgba(171,211,238,0.73) 27%, rgba(137,195,235,0.85) 59%, rgba(213,235,251,1) 100%);
  background: -webkit-linear-gradient(-45deg,  rgba(171,211,238,0.63) 0%,rgba(171,211,238,0.72) 23%,rgba(171,211,238,0.73) 27%,rgba(137,195,235,0.85) 59%,rgba(213,235,251,1) 100%);
  background: linear-gradient(135deg,  rgba(171,211,238,0.63) 0%,rgba(171,211,238,0.72) 23%,rgba(171,211,238,0.73) 27%,rgba(137,195,235,0.85) 59%,rgba(213,235,251,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1abd3ee', endColorstr='#d5ebfb',GradientType=1 );
  
  h1 {
    color: #b3b3b3;
  }
}

 /*spinner*/
.cssload-container {
  width: 100%;
  height: 12px;
  text-align: center;
  }

.cssload-speeding-wheel {
  width: 10px;
  height: 10px;
  margin: 0 auto; 
  border: 3px solid rgb(21,21,235);
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: cssload-spin 800ms infinite linear;
    -o-animation: cssload-spin 800ms infinite linear;
    -ms-animation: cssload-spin 800ms infinite linear;
    -webkit-animation: cssload-spin 800ms infinite linear;
    -moz-animation: cssload-spin 800ms infinite linear;
}



@keyframes cssload-spin {
  100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
  100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
  100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
  100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
  100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}

/*MODAL*/
.modal .modal-dialog { 
  width: 80%; 
}


/*pages_show*/

.pages_show {
  margin: 0 2rem;

  .pages_show_content {
    border-right-style: solid;
    border-left-style: solid;
    border-width: 1px;
    border-color: #D8EAF0; 
    padding: 0 2rem;
    margin: auto;
    text-align: justify;

    h1 {
      border: 1px solid #D8EAF0;
      border-radius: 10px;
      padding-left: 4rem;
    }

  }

} 

/*menu_index*/

.menu_index {

  font-size: larger;

  .navbar-brand {
    padding-left: 4rem;
  }
  /*link group that comes after login/logout buttons*/
  .after_login_info {
    margin-left: 5rem;
  }
  
  li:hover {
    color: red;
    background-color: #b3e6ff;
  }

  li {
    border-right-style: solid;
    border-width: 1px;
    border-right-color: #C4CCCF;
  }

  /*login_info (login/logout buton group)*/

  .login_info {

    button {
      margin-left: 1rem;
    }

  }

}

/*chat_messages_index*/

.chat_expanded {
  width: 40%;
}

.chat_messages_index {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 3rem;
  margin-bottom: 1rem;

  .message {
    font-size: small;
    border: 1px solid white;
    padding: 0 1rem;
    margin-bottom: 0.5rem;
    border-radius: 1rem;

    .message_time {
      text-align: right;
      font-size: 8px;
    }
  }

  .right {
    margin-left: 20%;
    background-color: #CCF0FC;
  }

  .left {
    margin-right: 20%;
    background-color: #D3DEBD;
  }
   
  .chat_button {
    right: 0;
  }

  .input_and_submit_button {
     
     margin-top: 1.5rem;

     .form_input_label {
       display: none;
     }

     .form_input {
       
       display: inline-block;
     }
    
     .submit_button {
       margin-left: 3rem;
       display: inline-block;
     }
 
  }
}

/*SIDEBAR*/

.sidebar {
  
  .list_group_title {
    background-color: #E8E8E8;
    margin: 1rem 0;
    
    h3 {
      margin: 0.1rem;
    }

    .badge {
     background-color: white;
    }
  }

  .user_avatar_in_group_list {
    border-radius: 100%;
    display: inline-block;
  }

  .list_group_more_info_button {
    color: white;
  }
}

.cssload-container {
  position: fixed;
  z-index: 100;
  margin: auto;
}



/*SCROLLBARS*/
::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/*APPOINTMENTS CALENDAR*/
  
  .appointments_calendar {
    margin-left: 4rem;
    
    .view_controlls {
      text-align: center;

      button {
        margin: 0 0.5rem;   
      }
    }

    .prev_next_controlls {
      margin-bottom: 1rem;
      button {
        margin: 0 0.5rem;
        width: 6rem;
      }
    }
    /*WEEK VIEW*/
    .week_day_panel.lg_device {
      width: 11%;
    }

    .week_day_panel {
      
      margin: 0.5rem;
      padding: 0;
      border: 1px solid;
      border-radius: 0.5rem;
      border-color: #D8EAF0;

      .day_heading {
        background-color: #C3DFE8;
        text-align: center;
        padding: 0px;
      }
      
      .day_body {
        font-size: 12px;
        .doctor_name {
          margin-bottom: 0px;
          margin-left: 1rem;
        }

        .doctor_appointment {
          border-bottom: 1px solid;
        }
      }

      

    }
    /*END WEEK VIEW*/
    /*MONTH BOX*/
    .month_box {
      text-align: center;
      //width: 21rem;
      height: 14rem;
      display: table;

      .week_row {
        display: table-row;
      }

      .day {
        display: table-cell;
        border: 1px solid;
        width: 3rem;
        height: 2rem;
        border-color: #D8EAF0;
        cursor: pointer;
      } 

      .current_week {
        background-color: aliceblue;
        
      }

      .week_row:hover {
        background-color: red;
      }

      .day:hover {
        background-color: yellow;
      }     
    }
    /*END MONTH BOX*/
  }

