<style>
	.cssload-container {
	width: 100%;
	height: 50px;
	text-align: center;
	}

	.cssload-speeding-wheel {
		width: 50px;
		height: 50px;
		margin: 0 auto; 
		border: 3px solid rgb(21,21,235);
		border-radius: 50%;
		border-left-color: transparent;
		border-right-color: transparent;
		animation: cssload-spin 800ms infinite linear;
			-o-animation: cssload-spin 800ms infinite linear;
			-ms-animation: cssload-spin 800ms infinite linear;
			-webkit-animation: cssload-spin 800ms infinite linear;
			-moz-animation: cssload-spin 800ms infinite linear;
	}



	@keyframes cssload-spin {
		100%{ transform: rotate(360deg); transform: rotate(360deg); }
	}

	@-o-keyframes cssload-spin {
		100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
	}

	@-ms-keyframes cssload-spin {
		100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
	}

	@-webkit-keyframes cssload-spin {
		100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
	}

	@-moz-keyframes cssload-spin {
		100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
	}


</style>
<div class="pure-g">
	<div class="pure-u-1-24"></div>
	<div class="pure-u-22-24">
		<div class="pure-g">
			<div class="pure-u-1-2">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<div class="pure-g">
						<div class="pure-u-1-2">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
						<div class="pure-u-1-2">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
				</div>

				<div class="pure-g">	
					<div class="pure-u-1-5"></div>
					<div class="pure-u-3-5">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
				<div class="pure-u-1-5"></div>
			</div>

			<div class="pure-u-1-2">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>

		</div>
	</div>
	<div class="pure-u-1-24"></div>
</div>


<div class="container">
	<%= react_component('AppComponents_AppRouter', {}, {prerender: false}) %>
</div>

